<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	
	
	<div style="border:2px solid black; width:1100px; height:auto; font-size:20px; border-radius:10px; padding:20px;">
		내일우유에서 주문을 해주셔서 감사합니다.<br>
		평균적으로 배송은 2~3일 내에 시작됩니다.<br>
		또한, 제품 수령 후에는 반드시 제품 상태를 확인하시고 만족하지 못하시는 점이 있으면 즉시 연락 부탁드립니다.<br>
		우리는 고객님의 만족도를 최우선으로 생각하며, 문제가 해결되지 않을 경우에는 교환 또는 환불을 제공해드릴 것입니다.<br>
		배송 중에 문제가 발생하거나, 배송 상태를 확인하고 싶으시면 운송장 번호를 통해 배송 추적을 하실 수 있습니다.<br>
		제품의 품질과 신선도를 유지하기 위해 최선을 다하고 있지만, 만약에 문제가 발생하면 언제든지 문의해주시기 바랍니다.<br>
		고객님의 소중한 의견을 항상 반영하며, 개선점이 있다면 더 나은 서비스를 제공할 수 있도록 노력하겠습니다.<br>
		많은 사랑과 관심을 가져주셔서 감사합니다.
	</div>
	
</body>	
</html>